.accordion{
    background-color:#eee;
    color:#aa33e1;
    cursor:pointer;
    padding:18px;
    width:100%;
    text-align:left;
    border:none;
    outline:none;
    transition:1.9s;
}

.active,
.accordion:hover{
    background-color:#590ee4;
    color:#ffffff;
}

.panel{
    padding: 0 18px;
    background-color:rgb(68, 218, 73);
    display:none;
    overflow:hidden;
}