<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 10%;
    background-color:#24252a;

}

.logo{
    cursor:pointer;
}

.nav__links a,
.cta,
.overlay__content a
{
    font-family: "Montserrat",sans-serif;
    font-weight:500px;
    color:#edf0f1;
    text-decoration:none;

}

.nav__links{
    list-style:none ;
    display:flex;

}

.nav__links li{
    padding:0px 20px;
}

.nav__links li a{
    transition:color 0.3s ease 0.3s;

}

.nav__links li align-self: hover;{
    color:#0088a9;
}

.cta:hover
{
    background-color: rgba(0,136,169,0.8);
=======
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 10%;
    background-color:#24252a;

}

.logo{
    cursor:pointer;
}

.nav__links a,
.cta,
.overlay__content a
{
    font-family: "Montserrat",sans-serif;
    font-weight:500px;
    color:#edf0f1;
    text-decoration:none;

}

.nav__links{
    list-style:none ;
    display:flex;

}

.nav__links li{
    padding:0px 20px;
}

.nav__links li a{
    transition:color 0.3s ease 0.3s;

}

.nav__links li align-self: hover;{
    color:#0088a9;
}

.cta:hover
{
    background-color: rgba(0,136,169,0.8);
>>>>>>> 14bcb3540e61791ba3b0e1be991a6ecb18b5ef68
}